@import url(./sanitize.css);
@import url('https://fonts.googleapis.com/css?family=Stoke&display=swap');
html, body{
    background-color: rgb(250, 249, 249);
    margin: 0;
    padding: 0;
}.containerd{
    background-color: #fff;
    padding-bottom : 150px;
    width: auto;
} .containerd h1{
    font-family: 'Stoke',sans-serif;
    padding: 30px;
    float: left;
    font-size: 48px;
    color: #000;
}.containerd a, a:hover, a:visited, a:active{
    color: #666;
    text-decoration: none;
}.linkd {
    padding-top : 60px;
    white-space: nowrap;
} .link-indiv{
    float: right;
    margin-right : 30px;
}


/* メニューを表現*/
li, ul {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    list-style-type: none;
} .menu{
    margin: 0 0;
    padding-left :0;
    width: 100%;
} .menu > li {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgb(247, 243, 236);
    float: left;
    padding: 25px;
    width: 20%;
    text-align: center;
}.menu > li a {
    display: block;
    color: #000;
}.menu > li a:hover {
    color: #999;
}.menu > li:hover {
    background: #ebebeb;
    -webkit-transition: all .5s;
    transition: all .5s;
}ul.second_ {
    position: absolute;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    border-top: 1px solid #111;
}.second_ li {
    border-bottom: 1px solid #111;
    padding: 30px;
} .second_ li:hover {
    background-color: rgb(250, 214, 160);
}.menu > li.first_ {
    position: relative;
} li.first_ ul.second_ {
    position: absolute;
    top: 105px;
    width: 100%;
    background-color: rgb(250, 229, 189);
} li.first_:hover ul.second_ {
    top: 105px;
    visibility: visible;
    opacity: 1;
} li.first_ ul.second_ li {
    position: relative;
}ul.third_ {
    border-top: 1px solid #111;
    visibility: hidden;
    opacity: 0;
} li.first_ ul.second_ li ul.third_{
    position: absolute;
    top: -1px;
    left: 100%;
    width: 100%;
    background: #ffe7a6;
} li.first_ ul.second_ li ul.third_ li{
    position : relative;
} li.first_ ul.second_ li:hover ul.third_{
    visibility: visible;
    opacity: 1;
}.third_ li{ 
    border-bottom: 1px solid #111;
} .third_ li:hover{
    background-color: rgb(244, 212, 133);
}.progress{
    width: 100%;
    height: 2px;
    visibility: hidden;
}



main{
    background-color: rgb(250, 249, 249);
    padding: 30px;
    height: 100%;
    text-align: center;
} .text{
    padding: 20px;
}footer{
    position:absolute;
    bottom: 0;
    max-height: 1;
    width: 100%;
    text-align: center;
    border-top:1px solid #000;
    background-color: rgb(221, 219, 219);
}